body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  font-family: monospace;
  overflow: hidden;
}
canvas {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  background-color: #333;
}
#instructions {
  position: absolute;
  color: white;
  top: 10px;
  text-align: center;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}
audio {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
